.board {
  display: inline-block;
  margin: auto;
}

.board-row {
  display: flex;
}

.square {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 0.5px rgba(0,0,0,0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 4.2em;
  height: 70px;
  overflow: hidden;
  position: relative;
  padding: 5px;
  margin: 7px;
  transition: 0.5s ease;
  vertical-align: middle;
  width: 70px;
}

/*.square:hover {
  background: rgba(0,0,0,0.05);
  transition: 0.5s ease;
}*/

.button-wrap {
  display: flex;
  justify-content: center;
}

.restart-button {
  background: none;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 0.5px rgba(0,0,0,0.1);
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 25px;
  overflow: hidden;
  padding: 5px;
  height: 80px;
  width: 80px;
  position: relative;
  transition: 0.3s ease;
}

.restart-button::after, .square::after {
  background: rgba(0,0,0,0.05);
  border: 1px solid white;
  content: "";
  display: block;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 50%;
  position: absolute;
  transition: 0.5s ease;
  transform: translate(-25px, -50px) rotate(50deg);
  width: 0%;
}

.restart-button:focus {
  outline: none;
}

.restart-button:hover::after, .square:hover::after {
  transition: 0.5s ease;
  left: 0;
  opacity: 1;
  height: 250%;
  width: 170%;
}

.status {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 0.5px rgba(0,0,0,0.1);
  cursor: default;
  display: flex;
  justify-content: center;
  font-size: 4.2em;
  height: 70px;
  overflow: hidden;
  position: relative;
  padding: 5px;
  margin: 5px auto 25px auto;
  transition: 0.5s ease;
  width: 262px;
}
